h1,
h2,
h3,
h4,
h5,
h6,
th {
        font-family: 'Pacifico', sans-serif;
        font-weight: normal;
        padding-top:0px;
        margin-top: 0px;
}

body {
    font-size: 2em;
    background-color: #EDFFFE;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    height: 150px;
    padding-top:  0.8em;
    text-align: center;
    font-size: 3em;
    background: #88D9E6 no-repeat right;
    background-size: 220px 210px;
    width:;

    /*margin-top: 0;
    margin-left:-150px;
    margin-right:-150px;*/
}
.cat-info {
        font-family: 'Pacifico', sans-serif;
        font-weight: normal;
        padding-top:0px;
        margin-top: 0px;
        font-size: 25px;
}
.alert {
    text-align: center;
    font-size:15px;
}
.btn{
    background: #3C3744 no-repeat right;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    !important;
}
p {
    padding-top:10px;
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    font color: #BCE7FD;

}
#passwordText, 
#emailStatus, 
#emailExistence, 
#passwordCorrectness {
    font-size: 12px;   
}