h1,
h2,
h3,
h4,
h5,
h6,
th {
        font-family: 'Lobster', sans-serif;
        font-weight: normal;
        padding-top:0px;
        margin-top: 0px;
}

body {
    font-size: 2em;
}

h1 {
    height: 150px;
    padding-top:  0.8em;
    text-align: center;
    font-size: 3em;
    background: #33D2FF no-repeat right;
    background-size: 220px 210px;
    margin-top: 0;
    margin-left:-150px;
    margin-right:-150px;
}
.cat-info {
        font-family: 'Lobster', sans-serif;
        font-weight: normal;
        padding-top:0px;
        margin-top: 0px;
}
.alert {
    text-align: center;
    font-size:15px;
}
.btn{
    background: #4D7885 no-repeat right;
    
    !important;
}