{% extends 'base.html' %}

{% block title %}Cats!!!{% endblock %}

{% block content %}

<center>
</br></br></br></br></br></br>
  <h1>Login or <a href="/register">Register</a></h1><br/>
    <div id="login">
      <form action="/login" method="POST">
        <span> Email: <br/><input type="email" name="email"></span></br>
        <span>Password: <br/><input type="password" name="password"></span></br><br/>
        <input type="submit" id="cat-btn" class="cat-btn" value="Login">
      </form>
    </div>
</center>
{% endblock %}