{% extends 'base.html' %}

{% block title %}Cats!{% endblock %}

{% block content %}
    <div>
    <center></br></br></br><h1>Welcome to Cat Texts!</h1>
      <i class="fa fa-paw" aria-hidden="true"></i></br></br>
      Are you a cat person?</br>
      Do you not get many texts?</br>
      Have you ever wished your cat could...text you..?</br>
      </br></br>

    <div id="yes-btn">
      <input type="submit" id="yes-btn" class="cat-btn" value="YES"></br></br>
    </div>

    <div id="show-form" hidden>
      <form action="/welcome">
        Your cat's name:
        <input type="text" name="cat-name" id="cat-name"
               placeholder="Hellboy" required></br></br>
        Your cat's dinner time:
        <input type="text" name="dinner-time" id="dinner-time"
               placeholder="7:00" required></br></br>
<!--         <select> name="dinner-time">
          <option value="5">5:00 pm</option>
          <option value="6">6:00 pm</option>
          <option value="7">7:00 pm</option>
        </select></br></br> -->
        Your cat's favorite snack:
        <input type="text" name="cat-snack" id="cat-snack"
               placeholder="Tuna" required></br></br>
        Your cat's favorite activity:
        <input type="text" name="cat-activity" id="cat-activity"
               placeholder="Sleeping" required></br></br>
        Your cat's 2nd favorite activity:
        <input type="text" name="cat-activity2" id="cat-activity2"
               placeholder="Meowing!!" required></br></br>
        Your cat's favorite toy:
        <input type="text" name="cat-toy" id="cat-toy"
               placeholder="Space ball" required></br></br>
        Your cat's 2nd favorite toy:
        <input type="text" name="cat-toy2" id="cat-toy2"
               placeholder="Catnip carrot" required></br></br>
        <input type="submit" id="cat-btn" class="cat-btn" value="Text me!">
      </form>
    </div>

    </center>
</div>
    <script>
    $('#yes-btn').on('click', function() {
      $('#show-form').show()
    })

    $('#yes-btn').on('click', function() {
      $('#yes-btn').hide()
    })
    </script>
{% endblock %}