{% extends 'base.html' %}

{% block title %} {{ name }}!{% endblock %}

{% block content %}

<h1>Cat Texts!</h1>

  {% for msg in get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" 
            aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    {{ msg }}
    </div>
  {% endfor %}

<div style="text-align: center;">
  <div style="display: inline-block; text-align: left;">

    Your cat's current info: </br></br>

    <b class="cat-info">Name:</b> {{ name }} </br>
    <b class="cat-info">Dinner Time: </b> {{ hour }}:{{ minutes }} {{ ampm }} </br>
    <b class="cat-info">Favorite Snack: </b> {{ snack }} </br>
    <b class="cat-info">Favorite Activity: </b> {{ activity1 }} </br>
    <b class="cat-info">2nd Fav Activity: </b> {{ activity2 }} </br>
    <b class="cat-info">Favorite toy: </b> {{ toy1 }} </br>
    <b class="cat-info">2nd Favorite toy: </b> {{ toy2 }} </br></br>
    
  </div>
</br> </br>
  <form action="/update" method="GET">
    <div class="form-group">
      <input type="submit" id="cat-btn" value="Update Cat Info!" 
             class="btn btn-primary btn-lg">
    </div>
  </form> 
  <form action="/logout" method="GET">
    <div class="form-group">
      <input type="submit" id="cat-btn" value="Logout!" 
             class="btn btn-primary btn-lg">
    </div>
  </form>

</div>  
{% endblock %}