{% extends 'base.html' %}

{% block title %}Register!{% endblock %}

{% block content %}

    <div>
    <center></br></br></br><h1>Register for Cat Texts!</h1>
      <i class="fa fa-paw" aria-hidden="true"></i></br></br>

    <form action="/register" method="POST">
      Your phone number:
      <input type="text" name="phone" id="phone" 
           placeholder="+14133293187" required>
      Your email:
      <input type="email" name="email" id="email" 
           placeholder="Enter email" required>
      Make a password:
      <input type="password" name="password" id="password" 
           placeholder="Enter password" required>
        
      <input type="submit" id="cat-btn" class="cat-btn" value="Text me!">
    </form>
    </div>
{% endblock %}