{% extends 'base.html' %}

{% block title %}Thanks!{% endblock %}

{% block content %}
<div>
    <h1>Thanks for signing up for Cat Texts!</h1>

    <p>You'll receive an initial text shortly, try saying "hey" or "bye" 
       or anything else to get started.</p>
    <p>You'll also receive a daily reminder at dinner time!</p>

    <form action="/main" method="GET">
      <div class="form-group">
        <input type="submit" id="cat-btn" value="Continue!" 
               class="btn btn-primary btn-lg">
      </div>
    </form>

</div>
{% endblock %}
